.auth_layout {
    background-image: url('../assets/BG.png');
    padding: 104px 0 128px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

label {
    display: block;
    color: var(--Text-Primary, var(--colors-slate-950, #020617));
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
}

label span {
    color: var(--slate-500, var(--slate-500, #64748B));
}

.auth_layout input {
    border-radius: var(--border-radius-full, 9999px);
    border: 1px solid var(--slate-200, #E2E8F0);
    background: var(--slate-50, #F8FAFC);
    width: 100%;
    padding: 12px 16px !important;
}

input[type="password"] {
    background-image: url('../assets/passwortd_eye.png');
    background-repeat: no-repeat;
    background-position: center right 3%;
}

.verification {
    background-image: url('../assets/verification-successfull.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
}

.email_verify .icon {
    color: white;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background: var(--Primary-Gradient, linear-gradient(270deg, rgba(255, 255, 255, 0.16) 0%, rgba(0, 0, 0, 0.00) 100%, rgba(255, 255, 255, 0.00) 100%), #6E51E0);
}

.email_verify input {
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}