body {
    font-family: 'Inter', sans-serif;
}

input:focus-visible {
    outline: none;
}

input[type="checkbox"] {
    width: unset !important;
}


.footer button {
    border-radius: var(--border-radius-full, 9999px);
    background: var(--Primary-Gradient, linear-gradient(270deg, rgba(255, 255, 255, 0.16) 0%, rgba(0, 0, 0, 0.00) 100%, rgba(255, 255, 255, 0.00) 100%), #6E51E0);
    padding: 12px 32px;
    color: var(--base-white, var(--base-white, #FFF));
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.btnGradientClr {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.16) 0%, rgba(0, 0, 0, 0.00) 100%, rgba(255, 255, 255, 0.00) 100%), #6E51E0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #6d53d7 #ffffff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #6d53d7 #e9e4fb;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #e9e4fb;
}

*::-webkit-scrollbar-thumb {
    background-color: #6d53d7;
    border-radius: 10px;
    border: 3px solid #6d53d7;
}